body {
	text-align: center;
	background-color: #DDDDDD;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

button {
	padding: 5px 10px 5px 10px;
	background-color: #555555;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
}

h1 {
	color: #777777;
	font-size: 2.5em;
	margin-bottom: 10px;
}

h2, h3 {
	color: #666;
}

img {
	width: 200px;
	padding: 10px;
}

p {
	color: #555555;
}

#content {
	text-align: left;
	margin: 0 auto;
	width: 600px;
	margin-bottom: 40px;
	width: 700px;
	margin-top: 70px;
}

#header {
	width: 100%;
	margin: 0 auto;
}

#footer {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #555555;
}

.quote {
	margin: 0 15px 0 15px;
	padding: 10px 20px 10px 20px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
}

/* Images */

.leftImg {
	float: left;
}

.rightImg {
	float: right;
}

/* Menu */

#menuHeader {
	background-color: lightGray;
	height: 40px;
}
#menu,
#menu ul {
    list-style: none;
    display: inline;
}
#menu > li {
    float: left;
}
#menu li a {
    display: block;
    height: 40px;
    line-height: 3em;
    padding: 0 1em;
    text-decoration: none;
    
}
#menu ul {
    position: absolute;
    display: none;
    z-index: 999;
}
#menu ul li a {
    width: 100px;
    float: left;
}
#menu li:hover ul {
    display: block;
}

#menu {
    font-family: Arial;
    font-size: 14px;
    background-color: lightGray;
}
#menu > li > a {
    color: Black;
    font-weight: bold;
	background-color: lightGray;
}
#menu > li:hover > a {
    background: #0098D9;
    color: #000;
}

#menu ul {
    background: #0098D9;
}
#menu ul li a {
    color: #000;
}
#menu ul li:hover a {
    background: cornflowerblue;
}

#menu ul li {
	margin-left: -40px;
}