body {
	text-align: center;
	background-color: #DDDDDD;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

button {
	padding: 5px 10px 5px 10px;
	background-color: #555555;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
}

h1 {
	color: #777777;
	font-size: 2.5em;
	margin-bottom: 10px;
}

p {
	color: #555555;
}

#content {
	text-align: left;
	margin: 0 auto;
	width: 600px;
	margin-bottom: 40px;
	width: 700px;
	margin-top: 70px;
}

#header {
	width: 100%;
	margin: 0 auto;
}

#footer {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #555555;
}

.button {
	cursor: pointer;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-bottom: 10px solid black;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-top: 10px solid black;
}

/* Menu */

#menuHeader {
	background-color: lightGray;
	height: 40px;
}
#menu,
#menu ul {
    list-style: none;
    display: inline;
}
#menu > li {
    float: left;
}
#menu li a {
    display: block;
    height: 40px;
    line-height: 3em;
    padding: 0 1.5em;
    text-decoration: none;
    
}
#menu ul {
    position: absolute;
    display: none;
    z-index: 999;
}
#menu ul li a {
    width: 90px;
    float: left;
}
#menu li:hover ul {
    display: block;
}

#menu {
    font-family: Arial;
    font-size: 14px;
    background-color: lightGray;
}
#menu > li > a {
    color: Black;
    font-weight: bold;
	background-color: lightGray;
}
#menu > li:hover > a {
    background: #0098D9;
    color: #000;
}

#menu ul {
    background: #0098D9;
}
#menu ul li a {
    color: #000;
}
#menu ul li:hover a {
    background: cornflowerblue;
}
.rightMenu {
	min-width: 90px;
	text-align: right;
}