<nav>
  <h2>TheConnMan</h2>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Software developer, system architect, and bad game developer</p>
  </div>
  <div id="projects">
    <p>Check out my <a href="/projects.html">projects page</a> to see games like <a href="/projects.html#connectFour">Connect Four</a> and <a href="/projects.html#circles">Circles</a>.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
